{% import "input/inputs.twig.html" as inputs %}

<div class="col-span-4 sm:col-span-2">
    {{ inputs.select('color', data.color, data.color_options, data.color_err) }}
</div>
<div class="col-span-4 sm:col-span-2">
    {{ inputs.select('font', data.font, data.font_options, data.font_err) }}
</div>

<div class="col-span-2 sm:col-span-1">
    {{ inputs.toggle('Darkmode', 'wantDarkMode', data.wantDarkMode, 'Would you like to be able to view your documentation in dark mode?') }}
</div>
<div class="col-span-2 sm:col-span-1">
    {{ inputs.toggle('Copyright', 'wantCopyright', data.wantCopyright, 'Does your project need a LICENCE file') }}
</div>
<div class="col-span-2 sm:col-span-1">
    {{ inputs.toggle('Search', 'wantSearch', data.wantSearch, 'Do you want to be able to search the content of your documentation?') }}
</div>
<div class="col-span-2 sm:col-span-1">
    {{ inputs.toggle('Tags', 'wantTags', data.wantTags, 'Do you want to use tags to group the content?') }}
</div>

<div class="col-span-4 sm:col-span-2">
    {{ inputs.upload_file('logo', data.logo, data.logo_err, 'image/*', 70000, 'logo') }}
</div>
