{% extends "base/main.twig.html" %}

{% import "input/message.twig.html" as msg %}

{% block navlinks %}
<a href="/ProjectController/create" class="btn btn-ghost btn-circle">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
        <path fill-rule="evenodd" d="M11.75 4.5a.75.75 0 01.75.75V11h5.75a.75.75 0 010 1.5H12.5v5.75a.75.75 0 01-1.5 0V12.5H5.25a.75.75 0 010-1.5H11V5.25a.75.75 0 01.75-.75z"></path>
    </svg>
</a>
<div class="dropdown dropdown-end">
    <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
            <img src="{{ user_profile_picture }}" />
        </div>
    </label>
    <ul tabindex="0" class="text-primary mt-3 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52">
        <li><a href="/">Dashboard</a></li>
        <li><a href="/UserController/profile">Profile</a></li>
        {% if isAdmin %}
        <li><a href="/Dashboard/kibana">Kibana</a></li>
        {% endif %}
        <li><a href="/UserController/logout">Logout</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}

<div class="bg-primary/25 my-10 py-10 p-5 rounded-md" style="width: 80vw">
    <progress class="progress progress-primary bg-primary/25" value="{{ progress }}" max="100"></progress>

    <form action="{{ form_url }}{{ currentPage }}" method="post">
        <div class="grid sm:grid-cols-4 gap-4 {% if currentPage != 0 %}hidden{% endif %}">
            {% include 'project/general.twig.html' %}
        </div>
        <div class="grid sm:grid-cols-4 gap-4 {% if currentPage != 1 %}hidden{% endif %}">
            {% include 'project/appereance.twig.html' %}
        </div>
        <div class="grid sm:grid-cols-4 gap-4 {% if currentPage != 2 %}hidden{% endif %}">
            {% include 'project/structure.twig.html' %}
        </div>
        <div class="grid sm:grid-cols-4 gap-4 {% if currentPage != 3 %}hidden{% endif %}">
            {% include 'project/evaluate.twig.html' %}
        </div>

        <input type="hidden" name="csrf_token" value="{{ data.csrf_token }}">

        <div class="col-span-4 text-end mt-4">
            {% if currentPage != 0 %}
            <a href="{{ form_url }}{{ currentPage - 1 }}" class="btn btn-primary btn-outline">Zurück</a>
            {% endif %}
            <button class="btn btn-primary">Weiter</button>
        </div>

    </form>
</div>

{{ msg.message(message.title, message.text) }}

{% endblock %}
