{% import "input/inputs.twig.html" as inputs %}

<div class="col-span-4 md:col-span-2">
    {{ inputs.input_field('title', data.title, data.title_err, is_not_owner, 'text', 60) }}
</div>
<div class="col-span-4 sm:col-span-2 md:col-span-1">
    {{ inputs.input_field('from', data.from|date("Y-m-d"), data.date_err, is_not_owner, 'date') }}
</div>
<div class="col-span-4 sm:col-span-2 md:col-span-1">
    {{ inputs.input_field('to', data.to|date("Y-m-d"), data.date_err, is_not_owner, 'date') }}
</div>

<div class="col-span-4">
    {{ inputs.textarea('description', data.description, data.description_err, 3, 255, is_not_owner) }}
</div>

<div class="col-span-4">
    {{ inputs.input_field('repo_docs', data.repo_docs, data.repo_docs_err, is_not_owner, 'url', 60, 'Documentation Repository') }}
</div>
<div class="col-span-4">
    {{ inputs.input_field('repo_code', data.repo_code, data.repo_code_err, is_not_owner, 'url', 60, 'Source Code Repository') }}
</div>

<div class="col-span-4 flex flex-wrap gap-x-7">
    {{ inputs.toggle('Readme', 'wantReadme', data.wantReadme, is_not_owner, 'Would you like to have your own readme?') }}
    {{ inputs.toggle('.gitignore', 'wantIgnore', data.wantIgnore, is_not_owner, 'Does your project need a .gitignore?') }}
    {{ inputs.toggle('Custom CSS', 'wantCSS', data.wantCSS, is_not_owner, 'Do you want to extend your documentation with custom CSS?') }}
    {{ inputs.toggle('Custom JS', 'wantJS', data.wantJS, is_not_owner, 'Want to extend your documentation with custom JS?') }}
    {{ inputs.toggle('Pages', 'wantPages', data.wantPages, is_not_owner, 'Do you want to host your docs on GitHub Pages?') }}
</div>
