<!-- Fixed navbar -->
<nav class="navbar bg-primary/50 text-neutral-content px-10">
  <div class="flex-1">
    <a href="/" aria-current="page" aria-label="Homepage" class="flex-0 btn btn-ghost px-2">
      <div
        class="font-title antialiased normal-case text-primary inline-flex text-lg transition-all duration-200 md:text-3xl">
        <span class="text-base-content">Mk</span><span>Simple</span>
      </div>
    </a>
  </div>
  <div class="flex-none gap-3">
    {{ navlinks|raw }}
  </div>
</nav>
