{% macro message(message_title, message) %}

{% if message is not empty %}
{% set random_id = random(6000, 9000) %}
<div id="{{ random_id }}" class="modal modal-open">
    <div class="modal-box relative">
        <label for="" class="btn btn-sm btn-circle absolute right-2 top-2" onclick="document.getElementById('{{ random_id }}').remove()">✕</label>
        <h3 class="text-lg font-bold">{{ message_title }}</h3>
        <p class="py-4">{{ message|nl2br }}</p>
    </div>
</div>
{% endif %}

{% endmacro %}

{% macro message_raw(modal_id, message_title, message) %}

<input type="checkbox" id="{{ modal_id }}" class="modal-toggle" />
<div class="modal">
    <div class="modal-box relative">
        <label for="{{ modal_id }}" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
        <h3 class="text-lg font-bold">{{ message_title }}</h3>
        <div class="py-4">
            {{ message|raw }}
        </div>
    </div>
</div>

{% endmacro %}
