{% extends "base/main.twig.html" %}

{% import "input/inputs.twig.html" as inputs %}
{% import "input/message.twig.html" as message %}

{% block navlinks %}
<a href="/ProjectController/create" class="btn btn-ghost btn-circle">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
        <path fill-rule="evenodd" d="M11.75 4.5a.75.75 0 01.75.75V11h5.75a.75.75 0 010 1.5H12.5v5.75a.75.75 0 01-1.5 0V12.5H5.25a.75.75 0 010-1.5H11V5.25a.75.75 0 01.75-.75z"></path>
    </svg>
</a>
<div class="dropdown dropdown-end">
    <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
            <img src="{{ user_profile_picture }}" />
        </div>
    </label>
    <ul tabindex="0" class="text-primary mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52">
        <li><a href="/">Dashboard</a></li>
        {% if isAdmin %}
        <li><a href="/kibana">Kibana</a></li>
        {% endif %}
        <li><a href="/UserController/logout">Logout</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}

<div class="hero">
    <div class="hero-content flex-col md:flex-row-reverse">
        <img alt="signIn form with fields illustration" src="/img/management.svg" class="h-full hidden lg:md:block hover:scale-125 transition-all duration-700" />
        <div class="card flex-shrink-0 w-full shadow-2xl bg-base-100">
            <div class="card-body">
                <form action="{{ form_url }}" method="post">
                    <h2 class="card-title">Profile</h2>
                    <hr class="mt-2" />

                    {{ inputs.input_field('name', data.name, data.name_err, 'text', 35) }}
                    {{ inputs.input_field('email', data.email, data.email_err, 'email', 255) }}
                    {{ inputs.toggle('Send Updates', 'wants_updates', data.wants_updates, 'Do you want to be informed by mail about status changes of your projects?') }}
                    {{ inputs.input_field('password', data.password, data.password_err, 'password', 500) }}
                    {{ inputs.upload_file('picture', data.picture, data.picture_err, 'image/*') }}

                    <input type="hidden" name="csrf_token" value="{{ data.csrf_token }}">

                    <div class="form-control mt-6">
                        <button type="submit" class="btn btn-active btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{ message.message(message_title, message) }}

{% endblock %}
