{% extends "base/main.twig.html" %}
{% set wantFooter = true %}

{% import "input/inputs.twig.html" as inputs %}

{% block navlinks %}
<a href="/login/signIn" class="flex-0 btn btn-ghost px-2 text-base-content">Sign In</a>
<a href="/login/signUp" class="flex-0 btn btn-outline btn-ghost px-2 text-base-content">Sing Up</a>
{% endblock %}

{% block content %}

<div class="hero">
    <div class="hero-content flex-col md:flex-row-reverse">
        <img alt="signIn form with fields illustration" src="/img/signIn.svg" class="h-full max-w-sm hidden md:block lg:hover:scale-125 transition-all duration-700" />
        <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <div class="card-body">
                <form action="{{ form_url }}" method="post" enctype="multipart/form-data">
                    <h2 class="card-title">Sign In</h2>
                    <hr class="mt-2" />

                    {{ inputs.input_field('email', data.email, data.email_err, 'email', 255) }}
                    {{ inputs.input_field('password', data.password, data.password_err, 'password', 500) }}

                    <div class="tooltip tooltip-bottom" data-tip="Stay calm! Think in silence and try again 😉 This feature will not work until emailing is implemented. ">
                        <p class="underline underline-offset-4 pt-2">Forgot your password?</p>
                    </div>

                    <div class="form-control mt-6">
                        <button type="submit" class="btn btn-primary">Sign In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% if message is not empty %}
{% with %}
{% set random_id = random(6000, 9000) %}
<div id="{{ random_id }}" class="modal modal-open">
    <div class="modal-box relative">
        <label for="" class="btn btn-sm btn-circle absolute right-2 top-2" onclick="document.getElementById('{{ random_id }}').remove()">✕</label>
        <h3 class="text-lg font-bold">Verification error</h3>
        <p class="py-4">{{ message|nl2br }}</p>
    </div>
</div>
{% endwith %}
{% endif %}

{% endblock %}
