{% extends "base/main.twig.html" %}
{% set wantFooter = true %}

{% import "input/inputs.twig.html" as inputs %}
{% import "input/message.twig.html" as message %}

{% block navlinks %}
<a href="/login/signIn" class="flex-0 btn btn-ghost px-2 text-base-content">Sign In</a>
<a href="/login/signUp" class="flex-0 btn btn-outline btn-ghost px-2 text-base-content">Sign Up</a>
{% endblock %}

{% block content %}

<div class="grid grid-cols-3 gap-4 py-4 place-content-center">
    <div class="col-span-3 md:col-span-2 shadow-2xl bg-base-100 p-5 rounded-md w-96 place-self-center">
        <form action="{{ form_url }}" method="post" enctype="multipart/form-data">
            <h2 class="card-title">Sign Up</h2>
            <hr class="mt-2" />

            {{ inputs.input_field('name', data.name, data.name_err, false, 'text', 35) }}
            {{ inputs.input_field('email', data.email, data.email_err, false, 'email', 255) }}
            {{ inputs.input_field('password', data.password, data.password_err, false, 'password', 500) }}
            {{ inputs.upload_file('picture', data.picture, data.picture_err, false, 'image/*') }}

            <div class="form-control mt-5">
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </form>
    </div>

    <img alt="signUp form with fields illustration" src="/img/signUp.svg" class="h-full hidden md:block hover:scale-125 transition-all duration-700" />
</div>

{{ message.message(message_title, message) }}

{% endblock %}
