{% extends "base/main.twig.html" %}
{% set wantFooter = true %}
{% set reset_modal = random(1000, 2000) %}

{% import "input/inputs.twig.html" as inputs %}
{% import "input/message.twig.html" as message %}

{% block navlinks %}
<a href="/login/signIn" class="flex-0 btn btn-ghost px-2 text-base-content">Sign In</a>
<a href="/login/signUp" class="flex-0 btn btn-outline btn-ghost px-2 text-base-content">Sign Up</a>
{% endblock %}

{% block content %}

<div class="grid grid-cols-3 gap-4 py-4">
    <div class="col-span-3 md:col-span-2 shadow-2xl bg-base-100 p-5 rounded-md w-96 place-self-center">
        <form action="{{ form_url }}" method="post" enctype="multipart/form-data">
            <h2 class="card-title">Sign In</h2>
            <hr class="mt-2" />

            {{ inputs.input_field('email', data.email, data.email_err, false, 'email', 255) }}
            {{ inputs.input_field('password', data.password, data.password_err, false, 'password', 500) }}

            {% if allow_reset %}
            <label for="{{ reset_modal }}" class="underline underline-offset-4 pt-2">Forgot your password?</label>
            {% endif %}

            <div class="form-control mt-5">
                <button type="submit" class="btn btn-primary">Sign In</button>
            </div>
        </form>
    </div>

    <img alt="signIn form with fields illustration" src="/img/signIn.svg" class="h-full hidden md:block hover:scale-125 transition-all duration-700" />
</div>

{% import "input/message.twig.html" as message %}

{{ message.message(message_title, message) }}

{% set password_reset %}
<p>If you have forgotten your password or lost the verification email, you can reset it by clicking the button below. You will then receive a verification email where you can reset your password.</p>
<a href="/UserController/passwordReset/{{ data.email|url_encode }}" class="btn btn-primary btn-sm mt-4">Reset credentials</a>
{% endset %}

{{ message.message_raw(reset_modal, 'Forgot your password?', password_reset) }}

{% endblock %}
