{% extends "base/main.twig.html" %}
{% set wantFooter = true %}

{% import "input/inputs.twig.html" as inputs %}

{% block navlinks %}
<a href="/login/signIn" class="flex-0 btn btn-ghost px-2 text-base-content">Sign In</a>
<a href="/login/signUp" class="flex-0 btn btn-outline btn-ghost px-2 text-base-content">Sing Up</a>
{% endblock %}

{% block content %}

<div class="hero">
    <div class="hero-content flex-col md:flex-row-reverse">
        <img alt="signIn form with fields illustration" src="/img/signUp.svg" class="h-full max-w-sm hidden md:block" />
        <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <div class="card-body">
                <form action="{{ form_url }}" method="post" enctype="multipart/form-data">
                    <h2 class="card-title">Sign Up</h2>
                    <hr class="mt-2" />

                    {{ inputs.input_field('name', data.name, data.name_err, 'text', 35) }}
                    {{ inputs.input_field('email', data.email, data.email_err, 'email', 255) }}
                    {{ inputs.input_field('password', data.password, data.password_err, 'password', 500) }}
                    {{ inputs.upload_file('picture', data.picture, data.picture_err, 'image/*') }}

                    <div class="form-control mt-6">
                        <button class="btn btn-primary">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% if message is not empty or true %}
<div id="c883df47f2c03616c" class="modal modal-open">
    <div class="modal-box relative">
        <label for="" class="btn btn-sm btn-circle absolute right-2 top-2"
            onclick="document.getElementById('c883df47f2c03616c').remove()">✕</label>
        <h3 class="text-lg font-bold">Information</h3>
        <p class="py-4">{{ message|nl2br }}</p>
    </div>
</div>
{% endif %}

{% endblock %}
